{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head.html" %}
  </head>

  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
    
    {% block navbar %} 
    {% include "partials/navbar.html" %} 
    {% endblock %} 

    {% block sidebar %} 
    {% include "partials/sidebar.html" %} 
    {% endblock %} 

    <div class="content-wrapper">
    {% block contenido %} 
    
    {% endblock %}
    </div>
    
    {% include "partials/footer.html" %}
    
    {% include "partials/scripts.html" %} 
    
    
  </div>
  </body>
</html>
