{% extends "Plantilla.html" %} {% block titulo %} Categorias {% endblock %} 
{% block contenido %}
<br>
<!-- Tabla categorias -->
<div class="card" style="margin-left: 10px">
  <div class="card-header" style="text-align: center; ">
    <h4>Categorias</h4>
  </div>
  <div class="card-body">
    <button class="btn btn-success" style="margin-bottom: 5px;" data-toggle="modal" data-target="#modal-agregar">Agregar</button>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
        <tr>
          <td>{{ category.id }}</td>
          <td>{{ category.name }}</td>
          <td>
            <button class="btn btn-warning edit-btn" data-name="{{ category.name }}" data-bs-toggle="modal" data-bs-target="#modal-editar{{category.id}}"><i class="fas fa-edit"></i></button> 
            <button class="btn btn-danger edit-btn" data-name="{{ category.name }}" data-bs-toggle="modal" data-bs-target="#modal-eliminar{{category.id}}"><i class="fas fa-trash"></i></button>   
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>



{% include "modals/ModalCategory.html" %} 

{% endblock %}
