{% extends "Plantilla.html" %}

{% block titulo %} Inicio {% endblock %}


{% block contenido %} 

<div class="welcome-section">
  <h1 class="animated-title" style="text-align: center; font-family: 'Courier New', Courier, monospace; font-size: 50px; font-weight: bold;">Bienvenido a FerreDi</h1>
  <br>
  <p class="info-text">Somos un software diseñado para ofrecerte un mejor control sobre tu negocio. Aquí podrás registrar tus productos, incluirlos en el inventario, realizar ventas y mantener un historial detallado de las mismas. Te facilitamos la gestión de tus servicios para que puedas enfocarte en el crecimiento de tu empresa.</p>
  <div class="highlight-box">
      <p class="highlight-text">¡Descubre como funciona!</p>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="feature-section">
        <h2>Características Principales</h2>
        <ul align="justify">
            <li>Registro y gestión de productos</li>
            <li>Inventario en tiempo real</li>
            <li>Registro detallado de ventas</li>
            <li>Historial de ventas</li>
            <!-- Agrega más características según sea necesario -->
        </ul>
      </div>
    </div>


    <div class="col">
      <div class="process-section">
        <h2>Cómo Funciona</h2>
        <ol align="justify">
            <li>Registra tus productos en el sistema.</li>
            <li>Actualiza o elimina tus registros</li>
            <li>Agrega productos al inventario.</li>
            <li>Realiza ventas e imprime reportes.</li>
            <li>Accede al historial para un seguimiento detallado.</li>
            <!-- Agrega más pasos según sea necesario -->
        </ol>
      </div>
    </div>

  </div>
</div>
<br>


<footer style="margin-left: 10px; border-radius: 10px;">
  <div class="contact-section">
    <h3>¿Necesitas Ayuda?</h3>
    <br>
    <p>Contáctanos para obtener asistencia:</p>
    <p>Correo electrónico: yaya32erazo@gmail.com</p>
    <p>Teléfono: +57 313 371 1877</p>
  </div>
</footer>


{% endblock %}


