{% extends "Plantilla.html" %}

{% block titulo %} Inventario {% endblock %}


{% block contenido %} 
<br>
<div class="card" style="margin-left: 10px">
    <div class="card-header" style="text-align: center; ">
      <h4>Inventario</h4>
    </div>
    <div class="card-body">
      <button class="btn btn-success custom-style" style="margin-bottom: 5px;" data-toggle="modal" data-target="#modal-agregar-inventario">Agregar</button>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
            {% for inventory in inventories %}
            <tr>
                <td>{{ inventory.id }}</td>
                <td>{{ inventory.product.name }}</td>
                <td>{{ inventory.amount }}</td>
                <td>{{ inventory.price }}</td>
            <td>
              <button class="btn btn-warning edit-btn" data-name="{{ inventory.product.name }}" data-description="{{ inventory.product.description }}" data-price="{{ inventory.product.price }}" data-category="{{ inventory.product.category.id }}" data-measurement_unit="{{ inventory.product.measurement_unit.id }}" data-bs-toggle="modal" data-bs-target="#modal-editar-inventario{{inventory.id}}"><i class="fas fa-edit"></i></button> 
              <button class="btn btn-danger edit-btn" data-name="{{ inventory.product.name }}" data-bs-toggle="modal" data-bs-target="#modal-eliminar-inventario{{inventory.id}}"><i class="fas fa-trash"></i></button>   
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  </div>

  {% include "modals/ModalInventory.html" %} 


{% endblock %}